.graphContainer {
  margin: 20px;
  width: 480px;
  height: 270px;
  padding-bottom: 20px;
}

.graph {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  height: 270px;
}

.graphContainer > .labels {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.graphContainer > .labels span {
  flex: 1;
  text-align: center;
  display: inline-block;
  font-style: italic;
  font-size: 12px;
}

.graph .columnContainer {
  display: flex;
  flex: 1;
}

.graph .column {
  flex: 1;
  margin: 5px;
  margin-bottom: 0px;
  margin-top: auto;

  background-color: #0cc;
}

.columnInfoContainer {
  position: absolute;
}

.columnInfo {
  position: relative;
  top: -62px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  border: 3px solid #fff;
  padding: 5px;
  z-index: 1;
}
