#simOutcome {
  padding: 20px;
  height: auto;
}

#simOutcome > #simOutcomeHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

#simOutcome .switch {
  width: 100px;
}

#simOutcome .graphContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#simOutcome #handsPlayed {
  font-size: 24px;
  text-align: center;
}

#simOutcome #playerEdge {
  font-size: 32px;
  font-style: bold;
  text-align: center;
}
