#simOutcome {
  padding: 20px;
  width: 60%;
  height: auto;
}

#simOutcome > #simOutcomeHeader {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

#simOutcome .switch {
  width: 100px;
}

#simOutcome .graphContainer {
  margin-left: auto;
  margin-right: auto;
}
