* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

html {
  font-family: 'Noto Sans', Sans-serif;
  background-color: #000;
  color: #fff;
  font-size: 16px;
}

body {
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background-color: #222;
  margin-bottom: 10px;
}

.link {
  text-decoration: underline;
}
.link:hover {
  cursor: pointer;
}

#root-container, #container {
  width: 100%;
  height: 100%;
}
#root-container > #container > div {
  height: auto;
}

#container > div {
  display: flex;
}

.section {
  background-color: #222;
}

button {
  cursor: pointer;
  padding: 8px;
  border: none;
  background-color: #444;
  color: #fff;
  font-size: 16px;
}
button:active {
  background-color: #3a3;
}
button.selected {
  background-color: #3a3;
}

button.bigButton {
  background-color: #04c;
  border-radius: 10px;
  font-size: 32px;
  padding: 15px;
  width: 100%;
}
button.bigButton:active {
  background-color: #06c;
}

.tiny {
  font-size: 12px;
}

.hidden {
  visibility: hidden;
}
